<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<div>
    <label>제품 번호</label>
    <input type="number" th:value="${updateTarget.id}" readonly>
</div>

<form method="post">
    <div>
        <label>제품명</label>
        <input type="text" th:value="${updateTarget.name}" name="name">
    </div>
    <div>
        <label>카테고리</label>
        <input type="number" th:value="${updateTarget.category}" name="category">
    </div>
    <div>
        <label>가격</label>
        <input type="number" th:value="${updateTarget.price}" name="price">
    </div>
    <div>
        <label>상태</label>
        <input type="number" th:value="${updateTarget.status}" name="status">
    </div>
    <button>변경</button>
</form>

</body>
</html>